.btn {
    padding: 20px;
    border: none;
    border-radius: 10px;
    font-size: 30px;
    display: inline-block;
    flex-direction: row;
    width: 500px;
    margin : 50px;
    color:  #fff;
    cursor: pointer;
  }
.btn-red {
    background-color: red;
  }
.btn-green {
    background-color: green;
  }